# Compiler output
*.o
*.obj
*.elf
*.ilk
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.hex
*.dSYM/
*.su
*.idb
*.pdb

# Text editor remnants
*.swp
.vscode/*

# Original
/tools/ddump/*
doxygen/doxygen/*
build/*
*.dump
*.mio0
*.z64
*.map
.assets-local.txt

# Assets
actors/**/*.png
!actors/**/*custom*.png
!actors/**/*custom*/**/*.png
assets/**/*.bin
assets/**/*.json
!assets/**/*custom*.bin
!assets/**/*custom*.json
!assets/**/*custom*/**/*.bin
!assets/**/*custom*/**/*.json
levels/**/*.png
levels/**/*.yaml
!levels/**/*custom*.png
!levels/**/*custom*.yaml
!levels/**/*custom*/**/*.png
!levels/**/*custom*/**/*.yaml
textures/**/*.png
!textures/**/*custom*.png
!textures/**/*custom*/**/*.png
sound/**/*.m64
sound/**/*.aiff
sound/**/*.json
!sound/**/*custom*.m64
!sound/**/*custom*.aiff
!sound/**/*custom*.json
!sound/**/*custom*/**/*.m64
!sound/**/*custom*/**/*.aiff
!sound/**/*custom*/**/*.json

# Untranslated code
*.c
*.h
*.cpp
*.hpp
*.s
*.in
*.inc
*.mk
*/Makefile
sound/README.md
